---
layout: post
---

<aside class="series">
    <h4>This is part of my trip report series &mdash; <em>{{ site.data.series | where: 'id', page.series | map: 'title' }}</em></h4>
    <ol>
      {% assign series-posts = site.posts | reverse | where: 'series', page.series %}
      {% for post in series-posts %}
      <li>
        {% if post.url == page.url %}
        <strong>{{ post.title }}</strong>
        {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </aside>

  {{ content }}